.scroll__navigation {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 5;

    &-button {
        width: 50px;
        height: 50px;
        background: #9e1212;
        color: #fff;
        cursor: pointer;
        border: none;

        &>svg {
            width: 45%;
            fill: #fff;
        }
    }

    &.deg180 {
        svg {
            transform: rotate(180deg);
        }
    }
}