.errors {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-msg {
        font-size: 24px;
        line-height: 120px;
        color: #f00;
        text-align: center;
    }
}